#add-container {
  font-family: roboto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#add-input {
  height: 32px;
  width: 231px;
  
  border-radius: 5px;
}
#add-button {
  height: 32px;
  width: 53px;
  
  border-radius: 50px;
  
  background-color: #ED7A11;
  color: white;

}
